@use "../theme";

.selection {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	&__section {
		margin: 15px 0;
	}

	&__title {
		color: theme.$muted;
		margin-right: 10px;
		margin-bottom: 5px;
	}

	&__label {
		color: theme.$text;
		text-transform: capitalize;
	}

	&__btn {
		cursor: pointer;
		color: theme.$text-on-accent;
		background-color: theme.$accent;
		margin: 5px;
		border: 0;
		border-radius: 2px;
		padding: 7px 12px;
		text-transform: uppercase;
	}
}
